
/* KONFIGURATOR */
.konfigurator .select-wrapper { 
    display: inline-block;
    max-width: 350px;
    width: 100%;
 }
.konfigurator{ margin: 20px 0; }
.konfigurator thead tr th, .konfigurator tbody tr td{vertical-align: middle; white-space: initial !important;}
.konfigurator thead tr th{ text-align: center; }
.konfigurator .JSKolicina {
	margin-bottom: 0px;
	width: 40px !important;
	text-align: center;
}
#JSUkupnaCenaKonf, #JSKorpaUkupnaCena, #JSUkupno {
	font-size: 20px;
	font-weight: bold;
	color: #F8694A;
}
.ukupno-konf-div { border-bottom: 1px solid #ddd; margin: 0 0 10px; }
.ukupno-konf-div p{ margin: 0; }
.JSGrupaAdd, .JSArtDetails { cursor: pointer; color: #F8694A; margin: 0 0 0 10px; }
.JSGrupaAdd:hover, .JSArtDetails:hover { color: #888; }
.JSGrupaRemove { cursor: pointer; color: red; padding: 0 5px; }
.konf-dropdown-content{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff; 
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.konf-dropdown-content li a{
    display: block !important;
    background-color: var(--menu_bg);
    padding: 15px !important;
    border-bottom: 1px solid #ddd;
}
.konf-dropdown:hover  .konf-dropdown-content{
    display: block;
}
.konf-img{
    max-width: 100%;
    max-height: 80px; 
    margin: auto;
}
.konfigurator .JSArtikal{
    padding-right: 20px;
    max-width: 350px;
}
 